[runtime]
environment="development"
loglevel="info"
logformat="json"

[server]
host="0.0.0.0"
port=5000

[database]
host="127.0.0.1"
port="5432"
user=""
password=""
dbname=""
migrationDir="migrations"
sslMode="disable"
connectionTimeout="30000"
statementTimeout="30000"
idleInTransactionSessionTimeout="30000"

[hydra]
adminURL="http://127.0.0.1:4445"